@{
    ViewData["Name"] = "Privacy Policy";
}

<div class="container">
    <div class="row pt-4">
        <div class="col">
            <h2>@ViewData["Name"]</h2>
        </div>
        <!--
        <div class="col text-end">
        </div>
        -->
    </div>
    <div class="row pt-4">
        <p>This website doesn't log or share your personal information.</p>
    </div>
</div>

