@{
    ViewData["Name"] = "Privacy Policy";
}

<div class="container">
    <div class="row pt-4">
        <div class="col">
            <h4>@ViewData["Name"]</h4>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col text-start">This website doesn't log or share your personal information.</div>
    </div>
    <div class="row pt-4 ">
        <div class="col text-start"><input class="btn btn-secondary" type="button" value="Back" onclick="javascript:history.back();return false;"></div>
    </div>
</div>

