@model Feed
@{
    ViewData["Name"] = "Add feed";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Add feed</h2>
        </div>
        <!--
        <div class="col text-end">
        </div>
        -->
    </div>

    <form method="post" class="pt-4">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Url"></label>
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <div class="pt-4">
            <button type="submit" class="btn btn-primary">Add</button>
            <a class="btn btn-secondary" asp-controller="Manage" asp-action="Index">Cancel</a>
        </div>
    </form>

</div>
