@model Feed
@{
    ViewData["Name"] = "Add feed";
}

<div class="container">
    <div class="row pt-4">
        <div class="col">
            <h4>@ViewData["Name"]</h4>
        </div>
        <!--
        <div class="col text-end">
        </div>
        -->
    </div>

    <form method="post" class="pt-4" asp-action="Add">
        <div>
            <label asp-for="Name">Name (optional)</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Url"></label>
            <input asp-for="Url" class="form-control" />
            <span asp-validation-for="Url" class="text-danger"></span>
        </div>
        <div class="pt-4">
            <button type="submit" class="btn btn-primary"><i class="bi bi-plus-square"></i> Add</button>
            <input class="btn btn-secondary" type="button" value="Cancel" onclick="javascript:history.back();return false;">
        </div>
    </form>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}