@model Feed
@{
    ViewData["Name"] = "Delete feed";
}

<div class="container">
    <div class="row pt-4">
        <div class="col">
            <h4>@ViewData["Name"]</h4>
        </div>
        <!--
        <div class="col text-end">
        </div>
        -->
    </div>

    <form method="post" class="pt-4" asp-action="DeleteFeed">
        <input asp-for="Id" hidden />
        <div>
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" disabled />
        </div>
        <div>
            <label asp-for="Url"></label>
            <input asp-for="Url" class="form-control" disabled />
        </div>
        <div class="pt-4">
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
            <input class="btn btn-secondary" type="button" value="Cancel" onclick="javascript:history.back();return false;">
        </div>
    </form>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}